{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'analiticas/css/styles.css' %}">
{% endblock styles %}


{% block content %}
<div class="container" id="presentacion">
    <div class="row">
        <div class="col-12">
            <br>
            <h2 >¿Cuántas veces un hashtag ha sido mencionado?</h2>
            <h3>(Histograma)</h3>
            <p><!--Si selecciona alguno de los usuarios o hashtags y el otro queda sin seleccion, se creara un-->
                Histograma con la cantidad de veces que un usuario ha mencionado un hashtag
            </p>
        </div>
    </div>
    <form method="POST">
        {% csrf_token %}
        <div class="form-row" id="presentacion">
            <div class="col-xs-9">
                   <br>
            </div>

                <div class="form-group ">
                        <!--<label for="hashtags">Seleccione un Hashtag</label>-->
                        <select class="custom-select mr-sm-7" id="hashtags" name="hashtag">
                            <option selected>Hashtag</option>
                            {% for hashtag in hashtags %}
                            <option value="{{hashtag.hashtag}}">#{{hashtag.hashtag}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-xs-12">
                            <br>
                            <hr>
                    </div>

            <div class="form-group ">
                <!--<label for="Usuarios">Seleccione un usuario</label>-->
                <select class="custom-select mr-sm-7" id="Usuarios" name="usuario">
                    <option selected>Usuario</option>
                    {% for usuario in usuarios %}
                    <option value="{{usuario.arroba}}">{{usuario.nombre_cuenta}}</option>
                    {% endfor %}
                </select>
            </div>
           
            
            
        </div>
        <button type="submit" class="btn btn-info btn-lg">Enviar</button>
        <div class="col-xs-12"><br></div>
    </form>
</div>


{% if image_base64 %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <img src="data:image/png;base64,{{image_base64}}" alt="grafica de linea" width=100% height=auto
                    class="img-fluid" />
            </div>
        </div>
    </div>
</section>
{% elif image_base641 %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <img src="data:image/png;base64,{{image_base641}}" alt="grafica de linea" width=100% height=auto
                    class="img-fluid" />
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <img src="data:image/png;base64,{{image_base642}}" alt="grafica de linea" width=100% height=auto
                    class="img-fluid" />
            </div>
        </div>
    </div>
</section>
{% endif %}

{% endblock content %}