{% extends 'base.html' %}
{% load static %}


{% block styles %}
<link rel="stylesheet" href="analiticas/css/styles.css">
{% endblock styles %}


{% block content %}
<div class="container"  id="presentacion">
    <div class="row">
        <div class="col-12">
            <br>
            <h2 >Utilización de una palabra por usuario<br></h2>
            <h3> (Histograma)</h3>
            <p>Elige un usuario en la 1era casilla<br>
                Escribe las palabras que quieras buscar dentro de los tweets de ese usuario<br>

            </p>
        </div>
    </div>
    <form method="POST">
        {% csrf_token %}
        <div class="form-row">
          <div class="form-group ">
              <!--<label for="Usuarios">Seleccione un usuario</label>-->
              <select class="custom-select mr-sm-7" id="Usuarios" name="usuario">
                  <option selected>NoCompresAdopta</option>
                  {% for usuario in usuarios %}
                  <option value="NoCompresAdopta">{{usuario.nombre_cuenta}}</option>
                  {% endfor %}
              </select>
          </div>
            <div class="form-group col-md-3">
                <!--<label for="palabra-clave1">Escriba una palabra clave</label>-->
                <input type="text" name="palabra1" class="form-control" placeholder="palabra1"
                    id="palabra-clave1">
            </div>
            <div class="form-group col-md-3">
              <!--  <label for="palabra-clave2">Escriba una palabra clave</label>-->
                <input type="text" name="palabra2" class="form-control" placeholder="palabra2"
                    id="palabra-clave2">
            </div>
        </div>
        <button type="submit" class="btn btn-info btn-lg">Visualizar</button>
        <div class="col-xs-12">
                <br>
        </div>
    </form>
</div>
{% endblock content %}
